<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="/css/bootsrap.min.css">
  <link rel="stylesheet" href="/css/carousel.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Home Page</title>
</head>
<body>
  {{> header}}
  <div>
   <h1>This the home Page</h1>
<div id="lableTest">Hello</div>
   <table id="StatusTable" style="width:100%">
     <tr>
       <th>selected temperature</th>
       <th>Current temperature</th>
       <th>System mode</th>
       <th>System state</th>
       <th>System current usage</th>
     </tr>
     <tr>
       <td> {{SetTemp}} &ordm; C</td>
       <td>{{Temperature}} &ordm; C</td>
       <td>{{SystemState}}</td>
       <td>{{Power}}</td>
       <td>{{Current}} A</td>
     </tr>
   </table>

<div id="time"> </div>
   <form id="Settings">
     <input type="text" name="Temperature" placeholder="Temp"/>
     <input  type="submit" name="button" value="Update"/>
   </form>
   <h4>Set System Mode</h4>
   <button id="Active" type="button" name="AutoButton">Automatic</button>
   <button id= "InActive" type="button" name="InActiveButton">InActive</button>
 </div>

<!-- This path is relative to ourer server.
The next command we are loading the labary. This will be used to inithate a connection-->
  {{> footer}}
  {{> script}}
  <script src="/js/home.js"></script>
</body>
</html>
